/* employee-section */
.employee-section {


    .section-top-btn {
        top: 85px;
    }

    .purchase-date {
        width: 650px;

        @media (max-width:991px) {
            width: 500px;
        }

        @media (max-width:767px) {
            width: 100%;
        }
    }


    .purchase-date .form-control {
        @media (max-width:1649px) {
            width: 285px;
        }

        @media (max-width:991px) {
            width: 210px;
            margin-right: 20px;
        }

        @media (max-width:767px) {
            width: 100%;
        }

    }

    .employee-card {
        position: absolute;
        right: 17px;
        top: 140px;
        width: 219px;
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;

        @media (max-width:767px) {
            position: unset;
            width: 100%;
            margin-bottom: 30px;
        }

        .item {
            text-align: center;

            span {
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                color: #757B82;
            }

            .vaction,
            .day,
            .office {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #5065F6;

                img {
                    width: 14px;
                    height: 14px;
                    margin-right: 5px;
                }
            }

            .day {
                color: #F04B69;
            }

            .office {
                color: #28B95E;
            }
        }
    }

    .card-item {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 10px;
        margin-bottom: 30px;

        @media (max-width:1399px) {
            padding: 15px;
        }

        @media (max-width:1199px) {
            padding: 20px;
        }
    }

    .card-header-content {
        display: flex;
        align-content: center;
        justify-content: start;
        position: relative;
        margin-bottom: 15px;

        .image {
            img {
                height: 52px;
                width: 52px;
                border-radius: 8px;
            }
        }

        .name {
            margin-left: 12px;

            h2 {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #323343;
            }

            span {
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                color: #5065F6;
                background: #EDEFFE;
                border-radius: 10px;
                padding: 5px 10px;
            }
        }

        .card-btn {
            position: absolute;
            right: 0;
            top: 0;
            transform: rotate(90deg);

            i {
                color: #9EA3A7;
            }
        }
    }

    .info {

        .ditl {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 10px;

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                color: #757B82;
            }

            p {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: #323343;
                margin-bottom: 0;
            }
        }
    }

}



/* attendence */
.attendence-wrap {


    .section-top-btn {
        position: relative;
        top: -35px;

        @media (max-width:767px) {
            top: 0;
        }
    }

    .purchase-date {
        width: fit-content;

        @media (max-width:767px) {
            width: 100%;
        }
    }

    .form-control {
        width: 95%;

        @media (max-width:767px) {
            margin-right: 0;
            width: 100%;
        }
    }
}

.attendence-table {
    padding-top: 0;

    .dataTables_wrapper .dataTables_length label {
        display: none;
    }

    tbody tr th {

        img {
            border-radius: 6px;
        }

        span {
            padding-left: 12px;
        }
    }

    tbody tr th {
        font-weight: 500;
        font-size: 14px;
        line-height: 45px;
        color: #323343;
    }

    tbody tr td .btn {
        border: 1px solid #A7B1F9;
        background: #EDEFFE;
        border-radius: 5px;
        padding: 8px 12px;
        color: #5065F6;
    }

    table.dataTable thead th,
    table.dataTable tbody td {
        &:last-child {
            text-align: center;
        }
    }

    table.dataTable thead>tr>th.sorting {
        padding-right: 10px;
    }
}

/* payroll-peges start css */
.payroll-peges {

    .section-title {
        margin-top: 15px;
        margin-bottom: 40px;
    }


    .product-list-wrap .section-top-btn {
        top: 155px;

        @media (max-width: 883px) {
            top: 190px;
            right: 15px;
        }

    }

    .dataTables_wrapper .dataTables_length label {
        display: none;
    }

    .purchase-list {
        padding-top: 0;
    }

    .product-list-wrap .form-control,
    .manage-brand-area .form-control {
        width: 100%;
    }

    .manage-brand-area {
        .section-title {
            margin-bottom: 20px;

            h2 {
                @media (max-width:767px) {
                    font-size: 18px;
                }
            }
        }

        .section-top-btn {
            top: -55px;
            position: relative;

            @media (max-width:991px) {
                left: auto;
            }

            @media (max-width:767px) {
                top: -5px;
            }
        }

        tbody tr th {
            width: 17%;
        }

        tbody tr th {

            img {
                border-radius: 6px;
                margin-right: 12px;
            }

        }



    }

    .dataTables_wrapper .dataTables_paginate {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .manage-categorie {

        .section-title {
            margin-bottom: 5px;
        }

        @media (max-width:767px) {
            .purchase-date {
                width: 100%;
                margin-top: 5px;
            }

        }

        tbody tr th {
            width: 20%;
        }

        table.dataTable thead th,
        table.dataTable tbody td {
            &:last-child {
                text-align: center;
            }
        }

        .table {
            @media (max-width: 991px) {
                width: 1000px;
            }
        }

    }

    .salary-payment {

        .section-title {
            margin-bottom: 0px;
        }

        #manage-productTable_info {
            display: none;
        }

        .dataTables_wrapper .dataTables_length label {
            display: block;
        }

        .purchase-list {
            padding-top: 30px;
        }

        tbody tr th {
            width: 10%;
        }

        tbody tr th {
            .green {
                color: #28B95E;
            }

            .turmeric {
                color:#FFDB45;
            }
        }

        tbody tr th:first-child {
            width: 5%;
        }

        tbody tr th:nth-child(2) {
            width: 15%;

            @media (max-width:1685px) {
                width: 12%;
            }
        }

        tbody tr th:nth-child(3) {
            width: 13%;

            @media (max-width:1685px) {
                width: 10%;
            }
        }

        tbody tr th:nth-child(6) {
            width: 13%;

            @media (max-width:1685px) {
                width: 10%;
            }
        }

        tbody tr td:last-child {
            width: 10%;

            @media (max-width:1685px) {
                width: 8%;
            }
        }

        .table {
            @media (max-width:1530px) {
                width: 1270px;
            }
        }
    }

    .expence-wrap {

        tbody tr th:first-child {
            width: 50%;

            @media (max-width:767px) {
                width: 30%;
            }
        }

        tbody tr th:nth-child(2) {
            width: 30%;

            @media (max-width:767px) {
                width: 35%;
            }
        }

        tbody tr td:last-child {
            width: 40%;
            text-align: right;

            @media (max-width:767px) {
                width: 35%;
            }
        }

        thead tr th:last-child {
            width: 20%;
            text-align: right;
        }

        .table {
            @media (max-width:1530px) {
                width: 100%;
            }

            @media (max-width:575px) {
                width: 550px;
            }
        }
    }

}