/* addpayment */
.addpayment {


    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 630px;
            margin: 9rem auto;
        }
    }
}

.modal-content {
    padding: 20px;
}
.modal-body {
    padding: 1rem 0;
    padding-bottom: 0;
    .purchase-add-fild {
        margin-right: 0;
    }
}
.modal-footer {
    border-top: transparent;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
}
.btn {
    padding: 0.6rem 0;
    border-radius: 10px;
}
.btn.btn-secondary {
    width: 47%;
}
.btn.btn-primary {
    width: 47%;
}

.modal-header {
    border-bottom: 1px solid #F5F5F5;
}

@media (min-width: 576px){
    .addpayment.s2 .modal-dialog {
        max-width: 430px;
    }
}